{#
Copyright (c) 2015 Tuan-Tu Tran

This file is part of ADES.

ADES is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ADES is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ADES.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends 'EducActionAdesBundle:Upgrade:base.html.twig' %}

{% set allow_backup_delete, allow_backup_download = false, false %}
{% block content %}
        <div class="impt avertissement">
                <p>La version du code
                est antérieure à celle de la base de données:
                {{ toVersion }} &lt;
                {{ fromVersion }}
                </p>
        </div>

        {% include "EducActionAdesBundle:Backup:list.html.twig" %}
{% endblock %}

{% block post_head %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset("inc/overlib/overlib.js") }}"><!-- overLIB (c) Erik Bosrup --></script>
        {% include "EducActionAdesBundle:Backup:list_head.html.twig" %}
{% endblock%}

